/* style.css */
body,
html{
    margin: 0;
    padding: 0;
    background-color: #f2f2e9;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    margin: 0;
    background: #1e241e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px;
    color: #fff;
}

/**************** HEADER ELEMENT STYLING *****************/
.logo img{
    width: 70px;
    margin-left: 20%;
}

.search-form{
    display: flex;
    flex-grow: 1;
}

.search-input{
    padding: 8px;
    border: 1px solid #ccc;
    background-color: #f2f2e9;
    border-color: #f2f2e9;
    border-radius: 5px;
    flex-grow: 1;
    margin-left: 50px;
    outline: none;
}

.search-button{
    padding: 8px;
    margin-right: 20%;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
}

.search-icon{
    width: 20px;
}

.cart-button{
    background: transparent;
    border: none;
    cursor: pointer;
}

.cart-icon{
    width: 30px;
    background: none;
}

.fav-button{
    background: transparent;
    border: none;
    cursor: pointer;
}

.heart-icon{
    margin-left: 10px;
    width: 30px;
    background: none;
}

.spotify-button{
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-left: auto;
}

.spotify-icon{
    width: 40px;
    margin-left: auto;
}

/**************** DROPDOWN STYLING *****************/
.dropdown{
    position: relative;
    display: inline-block;
}

.dropbtn{
    background-color: transparent;
    border: none;
    color: #f2f2e9;
    padding: 10px;
    margin-right: 60px;
    font-size: 16px;
    cursor: pointer;
}

/* Dropdown content - hidden by default */
.dropdown-content{
    display: none;
    position: absolute;
    margin-top: 5px;
    background-color: #f2f2e9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1; /* Place dropdown in front of other elements */
    border-radius: 5px;
    transform: translateX(-15%); /* Move dropdown to left to center it to button properly */
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover{
    background-color: #ddd;
    border-radius: 5px;
}

.dropdown-content::before{
    content: '';
    position: absolute;
    top: -9px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #f2f2e9 transparent;
}

.show{
    display: block;
}

/**************** NAVBAR STYLING *****************/
.navbar{
    display: flex;
    background-color: #f2f2e9;
    align-items: left;
    padding: 0;
    overflow: hidden;
}

.navbar-header{
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 10px;
}

.navbar-nav{
    display: flex;
    align-items: center;
    text-align: left;
}

.navbar-nav li{
    padding: 15px 20px;
    text-align: left;
}

.navbar-nav li a {
    color: white;
    text-decoration: none;
    text-align: left;
}

#navbar-toggle{
    display: none;
}

#dropdown-icon{
    width: 25px;
}

.mobile-nav-spotify-button{
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-left: auto;
}

/* Styles for small screens - dropdown menu */
@media screen and (max-width: 900px) {

    .navbar-nav{
        display: none;
    }

    .spotify-icon{
        display: none;
    }

    .mobile-nav-spotify-button{
        display: block;
    }

    #navbar-toggle{
        display: block;
        cursor: pointer;
    }

    .mobile-nav.active{
        display: flex;
    }

    .navbar-nav.active {
        display: flex;
        text-align: left;
        flex-direction: column;
        position: absolute;
        background-color: #f2f2e9;
        margin-left: -50px;
        width: 200px;
        padding: 20px;
    }
}

.navbar-nav.show {
    display: block;
    border-radius: 4px;
    text-align: left;
}

.navbar-nav li {
    padding: 10px 20px;
    border-bottom: 1px solid white;
}

.navbar-nav li:last-child {
    border-bottom: none;
    text-align: left;
}

.navbar a{
    float: left;
    color: #1e241e;
    text-align: center;
    justify-content: space-between;
    text-decoration: none;
    margin-left: 50px;
    font-size: 14px;
}

/* Navbar for mobile screens */
.mobile-nav{
    display: none;
}

/**************** IMAGE CAROUSEL STYLING *****************/
.image-carousel{
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.slide-images{
    width: 100%; 
    height: auto;
    display: none;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.slide-images.active{
    display: block;
    

}

.slide-buttons{
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.navigation{
    text-align: center;
}

/* ON ROTATION IMAGES */
.rotation-title{
    margin-top: 3%;
    text-align: center;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1e241e;
}

.on-rotation{
    display: flex;
    width: 100%;
    height: auto; 
    justify-content: center;
    align-items: center;

}

.album-buttons{
    border: none;
    width: 20%;
    padding: 0;
    cursor: pointer;
    margin: 2%;
}

.album-buttons img{
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.9s ease;
}

.album-buttons:hover img{
    transform: scale(1.05);
}